# ETL

## Bibliotecas

In [88]:
import pandas as pd
import re

import warnings
warnings.filterwarnings('ignore')

## datasets

In [89]:
c_AUTOPISTA_FERNAO_DIAS = pd.read_csv('dados/AUTOPISTA_FERNAO_DIAS.csv', sep=';', encoding='ISO-8859-1')
c_AUTOPISTA_FLUMINENSE = pd.read_csv('dados/AUTOPISTA_FLUMINENSE.csv', sep=';', encoding='ISO-8859-1')
c_AUTOPISTA_LITORAL_SUL = pd.read_csv('dados/AUTOPISTA_LITORAL_SUL.csv', sep=';', encoding='ISO-8859-1')
c_AUTOPISTA_PLANALTO_SUL = pd.read_csv('dados/AUTOPISTA_PLANALTO_SUL.csv', sep=';', encoding='ISO-8859-1')
c_AUTOPISTA_REGIS = pd.read_csv('dados/AUTOPISTA_REGIS.csv', sep=';', encoding='ISO-8859-1')
c_CONCEBRA = pd.read_csv('dados/CONCEBRA.csv', sep=';', encoding='ISO-8859-1')
c_CONCER = pd.read_csv('dados/CONCER.csv', sep=';', encoding='ISO-8859-1')
c_CRO = pd.read_csv('dados/CRO.csv', sep=';', encoding='ISO-8859-1')
c_CRT = pd.read_csv('dados/CRT.csv', sep=';', encoding='ISO-8859-1')
c_ECO050 = pd.read_csv('dados/ECO050.csv', sep=';', encoding='ISO-8859-1')
c_ECO101 = pd.read_csv('dados/ECO101.csv', sep=';', encoding='ISO-8859-1')
c_ECOPONTE = pd.read_csv('dados/ECOPONTE.csv', sep=';', encoding='ISO-8859-1')
c_ECOSUL = pd.read_csv('dados/ECOSUL.csv', sep=';', encoding='ISO-8859-1')
c_ECOVIAS_DO_CERRADO = pd.read_csv('dados/ECOVIAS_DO_CERRADO.csv', sep=';', encoding='ISO-8859-1')
c_MSVIA = pd.read_csv('dados/MSVIA.csv', sep=';', encoding='ISO-8859-1')
c_NOVADUTRA = pd.read_csv('dados/NOVADUTRA.csv', sep=';', encoding='ISO-8859-1')
c_RODOVIA_DO_ACO = pd.read_csv('dados/RODOVIA_DO_ACO.csv', sep=';',encoding='ISO-8859-1')
c_TRANSBRASILIANA = pd.read_csv('dados/TRANSBRASILIANA.csv', sep=';', encoding='ISO-8859-1')
c_VIA_BAHIA = pd.read_csv('dados/VIA_BAHIA.csv', sep=';', encoding='ISO-8859-1')
c_VIA_COSTEIRA = pd.read_csv('dados/VIA_COSTEIRA.csv', sep=';', encoding='ISO-8859-1')
c_VIA_SUL = pd.read_csv('dados/VIA_SUL.csv', sep=';', encoding='ISO-8859-1')
c_VIA040 = pd.read_csv('dados/VIA040.csv', sep=';', encoding='ISO-8859-1')

## Tratamento

In [90]:
# adicionando a coluna "concessionaria"

c_AUTOPISTA_FERNAO_DIAS['concessionaria'] = 'autopista fernao dias'
c_AUTOPISTA_FLUMINENSE['concessionaria'] = 'autopista fluminense'
c_AUTOPISTA_LITORAL_SUL['concessionaria'] = 'autopista litoral sul'
c_AUTOPISTA_PLANALTO_SUL['concessionaria'] = 'autopista planalto sul'
c_AUTOPISTA_REGIS['concessionaria'] = 'autopista regis'
c_CONCEBRA['concessionaria'] = 'concebra'
c_CONCER['concessionaria'] = 'concer'
c_CRO['concessionaria'] = 'cro'
c_CRT['concessionaria'] = 'crt'
c_ECO050 ['concessionaria'] = 'eco 050'
c_ECO101['concessionaria'] = 'eco 101'
c_ECOPONTE['concessionaria'] = 'ecoponte'
c_ECOSUL['concessionaria'] = 'ecosul'
c_ECOVIAS_DO_CERRADO['concessionaria'] = 'ecovias do cerrado'
c_MSVIA['concessionaria'] = 'msvia'
c_NOVADUTRA['concessionaria'] = 'novadutra'
c_RODOVIA_DO_ACO['concessionaria'] = 'rodovia do aco'
c_TRANSBRASILIANA['concessionaria'] = 'transbasiliana'
c_VIA_BAHIA['concessionaria'] = 'via bahia'
c_VIA_COSTEIRA['concessionaria'] = 'via costeira'
c_VIA_SUL['concessionaria'] = 'via sul'
c_VIA040['concessionaria'] = 'via 040'

In [91]:
# concatenação dos arquivos

dados = pd.concat([c_AUTOPISTA_FERNAO_DIAS, c_AUTOPISTA_FLUMINENSE, c_AUTOPISTA_LITORAL_SUL, c_AUTOPISTA_PLANALTO_SUL, c_AUTOPISTA_REGIS, c_CONCEBRA, c_CONCER, c_CRO, c_CRT, c_ECO050, c_ECO101, c_ECOPONTE, c_ECOSUL, c_ECOVIAS_DO_CERRADO, c_MSVIA, c_NOVADUTRA, c_RODOVIA_DO_ACO, c_TRANSBRASILIANA, c_VIA_BAHIA, c_VIA_COSTEIRA, c_VIA_SUL, c_VIA040])

In [92]:
print(f'O DataFrame possui {dados.shape[0]} linhas e {dados.shape[1]} colunas.')

O DataFrame possui 795545 linhas e 24 colunas.

In [93]:
#pd.set_option('display.max_columns', None)
#dados

In [94]:
# removendo colunas

dados.drop(columns=['tracao_animal', 'n_da_ocorrencia', 'sentido'], inplace=True)

In [95]:
# renomeando colunas

dados = dados.rename(columns={'data':'data_completa'})

In [96]:
# datas

dados['data_completa'] = pd.to_datetime(dados['data_completa'],format='%d/%m/%Y')

# criando coluna 'ano'
dados['ano'] = dados['data_completa'].dt.year

In [97]:
# criando coluna 'dia_da_semana'

dados['dia_da_semana'] = dados['data_completa'].apply(lambda x: x.strftime('%A'))

In [98]:
dados['dia_da_semana'].replace({'Sunday': 'dom',
                               'Monday': 'seg',
                               'Tuesday': 'ter',
                               'Wednesday': 'qua',
                               'Thursday': 'qui',
                               'Friday': 'sex',
                               'Saturday': 'sab'}, regex=True, inplace=True)

In [99]:
# pd.set_option('display.max_columns', None) -> visualiza todas as colunas

In [100]:
pd.set_option('display.max_columns', None)
dados.head()

,data_completa,horario,tipo_de_ocorrencia,km,trecho,tipo_de_acidente,automovel,bicicleta,caminhao,moto,onibus,outros,transporte_de_cargas_especiais,trator_maquinas,utilitarios,ilesos,levemente_feridos,moderadamente_feridos,gravemente_feridos,mortos,concessionaria,ano,dia_da_semana
0,2010-01-01,07:32:00,sem vítima,54,BR-381/SP,Colisão Traseira,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,autopista fernao dias,2010,sex
1,2010-01-01,11:25:00,com vítima,64,BR-381/SP,Capotamento,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,NaN,NaN,NaN,autopista fernao dias,2010,sex
2,2010-01-01,08:28:00,sem vítima,73,BR-381/SP,Saida de Pista,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,autopista fernao dias,2010,sex
3,2010-01-01,14:20:00,sem vítima,76,BR-381/SP,"Choque - Defensa, barreira ou ""submarino""",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,autopista fernao dias,2010,sex
4,2010-01-01,07:11:00,sem vítima,"76,5",BR-381/SP,"Choque - Defensa, barreira ou ""submarino""",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,autopista fernao dias,2010,sex

In [101]:
dados.dtypes

data_completa                     datetime64[ns]
horario                                   object
tipo_de_ocorrencia                        object
km                                        object
trecho                                    object
tipo_de_acidente                          object
automovel                                 object
bicicleta                                float64
caminhao                                  object
moto                                      object
onibus                                   float64
outros                                   float64
transporte_de_cargas_especiais            object
trator_maquinas                          float64
utilitarios                               object
ilesos                                    object
levemente_feridos                        float64
moderadamente_feridos                    float64
gravemente_feridos                       float64
mortos                                   float64
concessionaria                            object
ano                                        int64
dia_da_semana                             object
dtype: object

In [102]:
dados['automovel'] = pd.to_numeric(dados['automovel'], errors="coerce")
dados['bicicleta'] = pd.to_numeric(dados['bicicleta'], errors="coerce")
dados['caminhao'] = pd.to_numeric(dados['caminhao'], errors="coerce")
dados['moto'] = pd.to_numeric(dados['moto'], errors="coerce")
dados['onibus'] = pd.to_numeric(dados['onibus'], errors="coerce")
dados['outros'] = pd.to_numeric(dados['outros'], errors="coerce")
dados['transporte_de_cargas_especiais'] = pd.to_numeric(dados['transporte_de_cargas_especiais'], errors="coerce")
dados['trator_maquinas'] = pd.to_numeric(dados['trator_maquinas'], errors="coerce")
dados['utilitarios'] = pd.to_numeric(dados['utilitarios'], errors="coerce")
dados['ilesos'] = pd.to_numeric(dados['ilesos'], errors="coerce")
dados['levemente_feridos'] = pd.to_numeric(dados['levemente_feridos'], errors="coerce")
dados['moderadamente_feridos'] = pd.to_numeric(dados['moderadamente_feridos'], errors="coerce")
dados['gravemente_feridos'] = pd.to_numeric(dados['gravemente_feridos'], errors="coerce")
dados['mortos'] = pd.to_numeric(dados['mortos'], errors="coerce")

### Tratando dados nulos e tipos

In [103]:
# ocorrencia

print('Ocorrencia de valor nulo em cada coluna:')
dados.isna().sum()

Ocorrencia de valor nulo em cada coluna:

data_completa                          0
horario                                0
tipo_de_ocorrencia                     3
km                                     3
trecho                                 0
tipo_de_acidente                    1833
automovel                         171022
bicicleta                         560516
caminhao                          412591
moto                              481179
onibus                            548363
outros                            514989
transporte_de_cargas_especiais    660664
trator_maquinas                   602710
utilitarios                       559962
ilesos                              3697
levemente_feridos                 421420
moderadamente_feridos             522460
gravemente_feridos                551676
mortos                            553509
concessionaria                         0
ano                                    0
dia_da_semana                          0
dtype: int64

In [104]:
# removendo linhas que contem todos os dados nulos
dados = dados.dropna(how='all')

# removendo apenas das colunas 'km', 'tipo_de_ocorrencia' e 'sentido'
dados = dados.dropna(subset=['tipo_de_ocorrencia','km'])

In [105]:
dados['tipo_de_ocorrencia'].unique()

array(['sem vítima', 'com vítima', '3 - Acidente com Danos Materiais',
       '2 - Acidente com VITIMA', '1 - Acidente com Vitima Fatal',
       'Sem vítima', 'Com vítima', ' 2- Acidente com VITIMA',
       'ac03 - Acidente com Danos Materiais',
       'ac02 - Acidente com Vítima', 'ac01 - Acidente com Vítima Fatal',
       'ac02 - Acidente com vítima', 'Acidente com Vítima',
       'Acidente com Danos Materiais', 'Acidente com Vítima Fatal',
       'AC03 - Acidente sem VITIMA', 'AC02 - Acidente com VITIMA',
       'AC01 - Acidente com VITIMA FATAL', 'AC04 - Atropelamento',
       'AC05 - Atropelamento Fatal', 'AC03 - ACIDENTE SEM VÍTIMA',
       'AC02 - ACIDENTE COM VÍTIMA', 'AC01 - ACIDENTE COM VÍTIMA FATAL',
       '3 - Acidente com Vitima Sem Lesão', '2 - Acidente com Vitima',
       'ac03 - Acidente com vítima ilesa',
       'ac01 - Acidente com vitima fatal', 'Acidente com vítima',
       'Acidente sem vítima', 'Acidente com morte',
       'Atropelamento sem morte', 'Atropelamento com morte',
       'Acidente sem Vítima', 'Acidente com Morte',
       'Atropelamento sem Morte', 'Atropelamento com Morte',
       'Acidente sem Vítima - TRECHO CONTORNO',
       'Acidente com Vítima - TRECHO CONTORNO',
       'Acidente com Morte - TRECHO CONTORNO',
       'Atropelamento sem Morte - TRECHO CONTORNO',
       'Acidente sem vítima - TRECHO CONTORNO',
       'Atropelamento sem morte - TRECHO CONTORNO',
       'Acidente com vítima - TRECHO CONTORNO',
       'Acidente com morte - TRECHO CONTORNO', 'in21 - Suícidio',
       'ac03 - Acidente sem Vitimas', 'ac02 - Acidente com VITIMA',
       'ac01 - Acidente com Vitima Fatal', 'AC3 - Acidente sem VITIMA',
       'AC2 - Acidente com VITIMA', 'AC1 - Acidente com VITIMA FATAL',
       'Acidente sem VITIMA', 'Acidente com VITIMA',
       'Acidente com VITIMA FATAL', 'ASV - Acidente SEM Vítima',
       'AV - Acidente com VITIMA', 'AF - Acidente com Vitima Fatal',
       'A PP - Acidente envolvendo Produto Perigoso',
       'A PPV - Acidente envolvendo Produto Perigoso com vitima',
       'A PPF - Acidente envolvendo Produto Perigoso vitima fatal',
       'Atropelamento Fatal', 'Atropelamento', 'Acidente COM VITIMA',
       'Acidente fatal', 'Acidente sem Vítimas', 'Acidente com Vítimas',
       'Acidente Fatal'], dtype=object)

In [106]:
dados['tipo_de_ocorrencia'] = dados['tipo_de_ocorrencia'].str.lower()

In [107]:
def remove_caracteres_especiais(texto):
    caracteres = re.compile('[-,0,1,2,3,4,5]')
    return caracteres.sub(r'', texto)

dados['tipo_de_ocorrencia'] = dados['tipo_de_ocorrencia'].apply(remove_caracteres_especiais)

In [108]:
dados['tipo_de_ocorrencia'].replace({'vitima': 'vítima',
                                    'vítimas': 'vítima',
                                    '  trecho contorno': '',
                                    'acidente ': '',
                                    'af  ': '',
                                    'av  ': '',
                                    'ac  ': '',
                                    'asv  ': '',
                                    '  ': '',
                                    'a ppv': '',
                                    'a ppf': '',
                                    'in': '',
                                    'a pp': ''}, regex=True, inplace=True)

In [109]:
dados['tipo_de_ocorrencia'].value_counts()

sem vítima                                  491771
com vítima                                  267034
com danos materiais                          28831
atropelamento sem morte                       1988
com vítima ilesa                              1505
com morte                                     1334
com vítima fatal                              1213
com vítima sem lesão                           887
atropelamento com morte                        427
fatal                                          259
atropelamento                                  176
atropelamento fatal                             71
sem vítimas                                     23
envolvendo produto perigoso                     11
suícidio                                         4
envolvendo produto perigoso com vítima           3
envolvendo produto perigoso vítima fatal         2
Name: tipo_de_ocorrencia, dtype: int64

In [110]:
dados['tipo_de_acidente'] = dados['tipo_de_acidente'].fillna('outros')
dados['tipo_de_acidente'] = dados['tipo_de_acidente'].str.lower()

In [111]:
#pd.set_option('display.max_rows', None)
#dados['tipo_de_acidente'].value_counts()

In [112]:
# zerando dados nulos
dados = dados.fillna(0)

In [113]:
# tipos

dados.dtypes

data_completa                     datetime64[ns]
horario                                   object
tipo_de_ocorrencia                        object
km                                        object
trecho                                    object
tipo_de_acidente                          object
automovel                                float64
bicicleta                                float64
caminhao                                 float64
moto                                     float64
onibus                                   float64
outros                                   float64
transporte_de_cargas_especiais           float64
trator_maquinas                          float64
utilitarios                              float64
ilesos                                   float64
levemente_feridos                        float64
moderadamente_feridos                    float64
gravemente_feridos                       float64
mortos                                   float64
concessionaria                            object
ano                                        int64
dia_da_semana                             object
dtype: object

In [115]:
# tipos

colunas_int = ['mortos','gravemente_feridos','moderadamente_feridos','levemente_feridos','ilesos','utilitarios','transporte_de_cargas_especiais','trator_maquinas','outros','onibus','moto','caminhao','bicicleta','automovel']
dados[colunas_int] = dados[colunas_int].astype(int)

In [116]:
dados.dtypes

data_completa                     datetime64[ns]
horario                                   object
tipo_de_ocorrencia                        object
km                                        object
trecho                                    object
tipo_de_acidente                          object
automovel                                  int32
bicicleta                                  int32
caminhao                                   int32
moto                                       int32
onibus                                     int32
outros                                     int32
transporte_de_cargas_especiais             int32
trator_maquinas                            int32
utilitarios                                int32
ilesos                                     int32
levemente_feridos                          int32
moderadamente_feridos                      int32
gravemente_feridos                         int32
mortos                                     int32
concessionaria                            object
ano                                        int64
dia_da_semana                             object
dtype: object

## Explorando

In [119]:
print(f'O DataFrame possui {dados.shape[0]} linhas e {dados.shape[1]} colunas.')

O DataFrame possui 795539 linhas e 23 colunas.

In [120]:
print(f'Possui as seguintes colunas:\n\n {dados.columns}')

Possui as seguintes colunas:

 Index(['data_completa', 'horario', 'tipo_de_ocorrencia', 'km', 'trecho',
       'tipo_de_acidente', 'automovel', 'bicicleta', 'caminhao', 'moto',
       'onibus', 'outros', 'transporte_de_cargas_especiais', 'trator_maquinas',
       'utilitarios', 'ilesos', 'levemente_feridos', 'moderadamente_feridos',
       'gravemente_feridos', 'mortos', 'concessionaria', 'ano',
       'dia_da_semana'],
      dtype='object')

In [ ]:
# novo dataset

dados.to_csv('dados/dados.csv', index=False)