# ETL

## Bibliotecas

In [329]:
import pandas as pd
import re
import numpy as np

import warnings
warnings.filterwarnings('ignore')

## datasets

In [330]:
c_AUTOPISTA_FERNAO_DIAS = pd.read_csv('dados/AUTOPISTA_FERNAO_DIAS.csv', sep=';', encoding='ISO-8859-1')
c_AUTOPISTA_FLUMINENSE = pd.read_csv('dados/AUTOPISTA_FLUMINENSE.csv', sep=';', encoding='ISO-8859-1')
c_AUTOPISTA_LITORAL_SUL = pd.read_csv('dados/AUTOPISTA_LITORAL_SUL.csv', sep=';', encoding='ISO-8859-1')
c_AUTOPISTA_PLANALTO_SUL = pd.read_csv('dados/AUTOPISTA_PLANALTO_SUL.csv', sep=';', encoding='ISO-8859-1')
c_AUTOPISTA_REGIS = pd.read_csv('dados/AUTOPISTA_REGIS.csv', sep=';', encoding='ISO-8859-1')
c_CONCEBRA = pd.read_csv('dados/CONCEBRA.csv', sep=';', encoding='ISO-8859-1')
c_CONCER = pd.read_csv('dados/CONCER.csv', sep=';', encoding='ISO-8859-1')
c_CRO = pd.read_csv('dados/CRO.csv', sep=';', encoding='ISO-8859-1')
c_CRT = pd.read_csv('dados/CRT.csv', sep=';', encoding='ISO-8859-1')
c_ECO050 = pd.read_csv('dados/ECO050.csv', sep=';', encoding='ISO-8859-1')
c_ECO101 = pd.read_csv('dados/ECO101.csv', sep=';', encoding='ISO-8859-1')
c_ECOPONTE = pd.read_csv('dados/ECOPONTE.csv', sep=';', encoding='ISO-8859-1')
c_ECOSUL = pd.read_csv('dados/ECOSUL.csv', sep=';', encoding='ISO-8859-1')
c_ECOVIAS_DO_CERRADO = pd.read_csv('dados/ECOVIAS_DO_CERRADO.csv', sep=';', encoding='ISO-8859-1')
c_MSVIA = pd.read_csv('dados/MSVIA.csv', sep=';', encoding='ISO-8859-1')
c_NOVADUTRA = pd.read_csv('dados/NOVADUTRA.csv', sep=';', encoding='ISO-8859-1')
c_RODOVIA_DO_ACO = pd.read_csv('dados/RODOVIA_DO_ACO.csv', sep=';',encoding='ISO-8859-1')
c_TRANSBRASILIANA = pd.read_csv('dados/TRANSBRASILIANA.csv', sep=';', encoding='ISO-8859-1')
c_VIA_BAHIA = pd.read_csv('dados/VIA_BAHIA.csv', sep=';', encoding='ISO-8859-1')
c_VIA_COSTEIRA = pd.read_csv('dados/VIA_COSTEIRA.csv', sep=';', encoding='ISO-8859-1')
c_VIA_SUL = pd.read_csv('dados/VIA_SUL.csv', sep=';', encoding='ISO-8859-1')
c_VIA040 = pd.read_csv('dados/VIA040.csv', sep=';', encoding='ISO-8859-1')

## Tratamento

In [331]:
# adicionando a coluna "concessionaria"

c_AUTOPISTA_FERNAO_DIAS['concessionaria'] = 'autopista fernao dias'
c_AUTOPISTA_FLUMINENSE['concessionaria'] = 'autopista fluminense'
c_AUTOPISTA_LITORAL_SUL['concessionaria'] = 'autopista litoral sul'
c_AUTOPISTA_PLANALTO_SUL['concessionaria'] = 'autopista planalto sul'
c_AUTOPISTA_REGIS['concessionaria'] = 'autopista regis'
c_CONCEBRA['concessionaria'] = 'concebra'
c_CONCER['concessionaria'] = 'concer'
c_CRO['concessionaria'] = 'cro'
c_CRT['concessionaria'] = 'crt'
c_ECO050 ['concessionaria'] = 'eco 050'
c_ECO101['concessionaria'] = 'eco 101'
c_ECOPONTE['concessionaria'] = 'ecoponte'
c_ECOSUL['concessionaria'] = 'ecosul'
c_ECOVIAS_DO_CERRADO['concessionaria'] = 'ecovias do cerrado'
c_MSVIA['concessionaria'] = 'msvia'
c_NOVADUTRA['concessionaria'] = 'novadutra'
c_RODOVIA_DO_ACO['concessionaria'] = 'rodovia do aco'
c_TRANSBRASILIANA['concessionaria'] = 'transbasiliana'
c_VIA_BAHIA['concessionaria'] = 'via bahia'
c_VIA_COSTEIRA['concessionaria'] = 'via costeira'
c_VIA_SUL['concessionaria'] = 'via sul'
c_VIA040['concessionaria'] = 'via 040'

In [332]:
# concatenação dos arquivos

dados = pd.concat([c_AUTOPISTA_FERNAO_DIAS, c_AUTOPISTA_FLUMINENSE, c_AUTOPISTA_LITORAL_SUL, c_AUTOPISTA_PLANALTO_SUL, c_AUTOPISTA_REGIS, c_CONCEBRA, c_CONCER, c_CRO, c_CRT, c_ECO050, c_ECO101, c_ECOPONTE, c_ECOSUL, c_ECOVIAS_DO_CERRADO, c_MSVIA, c_NOVADUTRA, c_RODOVIA_DO_ACO, c_TRANSBRASILIANA, c_VIA_BAHIA, c_VIA_COSTEIRA, c_VIA_SUL, c_VIA040])

In [333]:
print(f'O DataFrame possui {dados.shape[0]} linhas e {dados.shape[1]} colunas.')

O DataFrame possui 795545 linhas e 24 colunas.

In [334]:
#pd.set_option('display.max_columns', None)
#dados.head()

In [335]:
# removendo colunas

dados.drop(columns=['tracao_animal', 'n_da_ocorrencia', 'sentido'], inplace=True)

In [336]:
# renomeando colunas

dados = dados.rename(columns={'data':'data_completa'})

In [337]:
# datas

dados['data_completa'] = pd.to_datetime(dados['data_completa'],format='%d/%m/%Y')

In [338]:
# criando coluna 'dia_da_semana'

dados['dia_da_semana'] = dados['data_completa'].apply(lambda x: x.strftime('%A'))

In [339]:
dados['dia_da_semana'].replace({'Sunday': 'dom',
                               'Monday': 'seg',
                               'Tuesday': 'ter',
                               'Wednesday': 'qua',
                               'Thursday': 'qui',
                               'Friday': 'sex',
                               'Saturday': 'sab'}, regex=True, inplace=True)

In [340]:
# criando a coluna "fase_do_dia"

dados.loc[(dados['horario'] >= '06:00:00') & (dados['horario'] <= '11:59:59'), 'fase_do_dia']='manha'
dados.loc[(dados['horario'] >= '12:00:00') & (dados['horario'] <= '17:59:59'), 'fase_do_dia']='tarde'   
dados.loc[(dados['horario'] >= '18:00:00') & (dados['horario'] <= '23:59:59'), 'fase_do_dia']='noite'
dados.loc[(dados['horario'] >= '00:00:00') & (dados['horario'] <= '05:59:59'), 'fase_do_dia']='madrugada'

In [341]:
# criando a coluna 'estado'

dados[['br', 'estado']] = dados['trecho'].str.split('/', expand=True)

In [342]:
# pd.set_option('display.max_columns', None) -> visualiza todas as colunas

In [343]:
pd.set_option('display.max_columns', None)

dados.head()

,data_completa,horario,tipo_de_ocorrencia,km,trecho,tipo_de_acidente,automovel,bicicleta,caminhao,moto,onibus,outros,transporte_de_cargas_especiais,trator_maquinas,utilitarios,ilesos,levemente_feridos,moderadamente_feridos,gravemente_feridos,mortos,concessionaria,dia_da_semana,fase_do_dia,br,estado
0,2010-01-01,07:32:00,sem vítima,54,BR-381/SP,Colisão Traseira,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,autopista fernao dias,sex,manha,BR-381,SP
1,2010-01-01,11:25:00,com vítima,64,BR-381/SP,Capotamento,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,NaN,NaN,NaN,autopista fernao dias,sex,manha,BR-381,SP
2,2010-01-01,08:28:00,sem vítima,73,BR-381/SP,Saida de Pista,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,autopista fernao dias,sex,manha,BR-381,SP
3,2010-01-01,14:20:00,sem vítima,76,BR-381/SP,"Choque - Defensa, barreira ou ""submarino""",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,autopista fernao dias,sex,tarde,BR-381,SP
4,2010-01-01,07:11:00,sem vítima,"76,5",BR-381/SP,"Choque - Defensa, barreira ou ""submarino""",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,autopista fernao dias,sex,manha,BR-381,SP

In [344]:
dados.dtypes

data_completa                     datetime64[ns]
horario                                   object
tipo_de_ocorrencia                        object
km                                        object
trecho                                    object
tipo_de_acidente                          object
automovel                                 object
bicicleta                                float64
caminhao                                  object
moto                                      object
onibus                                   float64
outros                                   float64
transporte_de_cargas_especiais            object
trator_maquinas                          float64
utilitarios                               object
ilesos                                    object
levemente_feridos                        float64
moderadamente_feridos                    float64
gravemente_feridos                       float64
mortos                                   float64
concessionaria                            object
dia_da_semana                             object
fase_do_dia                               object
br                                        object
estado                                    object
dtype: object

In [345]:
dados['automovel'] = pd.to_numeric(dados['automovel'], errors="coerce")
dados['bicicleta'] = pd.to_numeric(dados['bicicleta'], errors="coerce")
dados['caminhao'] = pd.to_numeric(dados['caminhao'], errors="coerce")
dados['moto'] = pd.to_numeric(dados['moto'], errors="coerce")
dados['onibus'] = pd.to_numeric(dados['onibus'], errors="coerce")
dados['outros'] = pd.to_numeric(dados['outros'], errors="coerce")
dados['transporte_de_cargas_especiais'] = pd.to_numeric(dados['transporte_de_cargas_especiais'], errors="coerce")
dados['trator_maquinas'] = pd.to_numeric(dados['trator_maquinas'], errors="coerce")
dados['utilitarios'] = pd.to_numeric(dados['utilitarios'], errors="coerce")
dados['ilesos'] = pd.to_numeric(dados['ilesos'], errors="coerce")
dados['levemente_feridos'] = pd.to_numeric(dados['levemente_feridos'], errors="coerce")
dados['moderadamente_feridos'] = pd.to_numeric(dados['moderadamente_feridos'], errors="coerce")
dados['gravemente_feridos'] = pd.to_numeric(dados['gravemente_feridos'], errors="coerce")
dados['mortos'] = pd.to_numeric(dados['mortos'], errors="coerce")

In [346]:
dados['automovel'] = dados['automovel'].fillna(0)

In [347]:
dados['bicicleta'] = dados['bicicleta'].fillna(0)

In [348]:
dados['caminhao'] = dados['caminhao'].fillna(0)

In [349]:
dados['moto'] = dados['moto'].fillna(0)

In [350]:
dados['onibus'] = dados['onibus'].fillna(0)

In [351]:
dados['outros'] = dados['outros'].fillna(0)

In [352]:
dados['transporte_de_cargas_especiais'] = dados['transporte_de_cargas_especiais'].fillna(0)

In [353]:
dados['trator_maquinas'] = dados['trator_maquinas'].fillna(0)

In [354]:
dados['utilitarios'] = dados['utilitarios'].fillna(0)

In [355]:
# criando a coluna 'veiculos'

dados['veiculos'] = dados['automovel'] + dados['bicicleta'] + dados['caminhao'] + dados['moto'] + dados['onibus'] + dados['outros'] + dados['transporte_de_cargas_especiais'] + dados['trator_maquinas'] + dados['utilitarios']

In [357]:
dados.drop(columns=['automovel', 'bicicleta', 'caminhao', 'moto', 'onibus', 'outros', 'transporte_de_cargas_especiais', 'trator_maquinas', 'utilitarios'], inplace=True)

### Tratando dados nulos e tipos

In [358]:
# ocorrencia

print('Ocorrencia de valor nulo em cada coluna:')
dados.isna().sum()

Ocorrencia de valor nulo em cada coluna:

data_completa                 0
horario                       0
tipo_de_ocorrencia            3
km                            3
trecho                        0
tipo_de_acidente           1833
ilesos                     3697
levemente_feridos        421420
moderadamente_feridos    522460
gravemente_feridos       551676
mortos                   553509
concessionaria                0
dia_da_semana                 0
fase_do_dia                   0
br                            0
estado                     1498
veiculos                      0
dtype: int64

In [359]:
# removendo linhas que contem todos os dados nulos
dados = dados.dropna(how='all')

# removendo apenas das colunas 'km', 'tipo_de_ocorrencia' e 'sentido'
dados = dados.dropna(subset=['tipo_de_ocorrencia','km'])

In [360]:
# zerando dados nulos
dados = dados.fillna(0)

In [361]:
dados['tipo_de_ocorrencia'].unique()

array(['sem vítima', 'com vítima', '3 - Acidente com Danos Materiais',
       '2 - Acidente com VITIMA', '1 - Acidente com Vitima Fatal',
       'Sem vítima', 'Com vítima', ' 2- Acidente com VITIMA',
       'ac03 - Acidente com Danos Materiais',
       'ac02 - Acidente com Vítima', 'ac01 - Acidente com Vítima Fatal',
       'ac02 - Acidente com vítima', 'Acidente com Vítima',
       'Acidente com Danos Materiais', 'Acidente com Vítima Fatal',
       'AC03 - Acidente sem VITIMA', 'AC02 - Acidente com VITIMA',
       'AC01 - Acidente com VITIMA FATAL', 'AC04 - Atropelamento',
       'AC05 - Atropelamento Fatal', 'AC03 - ACIDENTE SEM VÍTIMA',
       'AC02 - ACIDENTE COM VÍTIMA', 'AC01 - ACIDENTE COM VÍTIMA FATAL',
       '3 - Acidente com Vitima Sem Lesão', '2 - Acidente com Vitima',
       'ac03 - Acidente com vítima ilesa',
       'ac01 - Acidente com vitima fatal', 'Acidente com vítima',
       'Acidente sem vítima', 'Acidente com morte',
       'Atropelamento sem morte', 'Atropelamento com morte',
       'Acidente sem Vítima', 'Acidente com Morte',
       'Atropelamento sem Morte', 'Atropelamento com Morte',
       'Acidente sem Vítima - TRECHO CONTORNO',
       'Acidente com Vítima - TRECHO CONTORNO',
       'Acidente com Morte - TRECHO CONTORNO',
       'Atropelamento sem Morte - TRECHO CONTORNO',
       'Acidente sem vítima - TRECHO CONTORNO',
       'Atropelamento sem morte - TRECHO CONTORNO',
       'Acidente com vítima - TRECHO CONTORNO',
       'Acidente com morte - TRECHO CONTORNO', 'in21 - Suícidio',
       'ac03 - Acidente sem Vitimas', 'ac02 - Acidente com VITIMA',
       'ac01 - Acidente com Vitima Fatal', 'AC3 - Acidente sem VITIMA',
       'AC2 - Acidente com VITIMA', 'AC1 - Acidente com VITIMA FATAL',
       'Acidente sem VITIMA', 'Acidente com VITIMA',
       'Acidente com VITIMA FATAL', 'ASV - Acidente SEM Vítima',
       'AV - Acidente com VITIMA', 'AF - Acidente com Vitima Fatal',
       'A PP - Acidente envolvendo Produto Perigoso',
       'A PPV - Acidente envolvendo Produto Perigoso com vitima',
       'A PPF - Acidente envolvendo Produto Perigoso vitima fatal',
       'Atropelamento Fatal', 'Atropelamento', 'Acidente COM VITIMA',
       'Acidente fatal', 'Acidente sem Vítimas', 'Acidente com Vítimas',
       'Acidente Fatal'], dtype=object)

In [362]:
dados['tipo_de_ocorrencia'] = dados['tipo_de_ocorrencia'].str.lower()

In [363]:
def remove_caracteres_especiais(texto):
    caracteres = re.compile('[-,0,1,2,3,4,5]')
    return caracteres.sub(r'', texto)

dados['tipo_de_ocorrencia'] = dados['tipo_de_ocorrencia'].apply(remove_caracteres_especiais)

In [364]:
dados['tipo_de_ocorrencia'].replace({'vitima': 'vítima',
                                    'vítimas': 'vítima',
                                    '  trecho contorno': '',
                                    'acidente ': '',
                                    'af  ': '',
                                    'av  ': '',
                                    'ac  ': '',
                                    'asv  ': '',
                                    '  ': '',
                                    'a ppv': '',
                                    'a ppf': '',
                                    'in': '',
                                    'a pp': ''}, regex=True, inplace=True)

In [365]:
dados['tipo_de_ocorrencia'].value_counts()

sem vítima                                  491771
com vítima                                  267034
com danos materiais                          28831
atropelamento sem morte                       1988
com vítima ilesa                              1505
com morte                                     1334
com vítima fatal                              1213
com vítima sem lesão                           887
atropelamento com morte                        427
fatal                                          259
atropelamento                                  176
atropelamento fatal                             71
sem vítimas                                     23
envolvendo produto perigoso                     11
suícidio                                         4
envolvendo produto perigoso com vítima           3
envolvendo produto perigoso vítima fatal         2
Name: tipo_de_ocorrencia, dtype: int64

In [366]:
dados['tipo_de_acidente'] = dados['tipo_de_acidente'].fillna('outros')
dados['tipo_de_acidente'] = dados['tipo_de_acidente'].str.lower()

In [367]:
#pd.set_option('display.max_rows', None)
#dados['tipo_de_acidente'].value_counts()

In [368]:
# tipos

dados.dtypes

data_completa            datetime64[ns]
horario                          object
tipo_de_ocorrencia               object
km                               object
trecho                           object
tipo_de_acidente                 object
ilesos                          float64
levemente_feridos               float64
moderadamente_feridos           float64
gravemente_feridos              float64
mortos                          float64
concessionaria                   object
dia_da_semana                    object
fase_do_dia                      object
br                               object
estado                           object
veiculos                        float64
dtype: object

In [369]:
# tipos

colunas_int = ['mortos','gravemente_feridos','moderadamente_feridos','levemente_feridos','ilesos', 'veiculos']
dados[colunas_int] = dados[colunas_int].astype(int)

In [370]:
dados.dtypes

data_completa            datetime64[ns]
horario                          object
tipo_de_ocorrencia               object
km                               object
trecho                           object
tipo_de_acidente                 object
ilesos                            int32
levemente_feridos                 int32
moderadamente_feridos             int32
gravemente_feridos                int32
mortos                            int32
concessionaria                   object
dia_da_semana                    object
fase_do_dia                      object
br                               object
estado                           object
veiculos                          int32
dtype: object

## Explorando

In [371]:
print(f'O DataFrame possui {dados.shape[0]} linhas e {dados.shape[1]} colunas.')

O DataFrame possui 795539 linhas e 17 colunas.

In [372]:
print(f'Possui as seguintes colunas:\n\n {dados.columns}')

Possui as seguintes colunas:

 Index(['data_completa', 'horario', 'tipo_de_ocorrencia', 'km', 'trecho',
       'tipo_de_acidente', 'ilesos', 'levemente_feridos',
       'moderadamente_feridos', 'gravemente_feridos', 'mortos',
       'concessionaria', 'dia_da_semana', 'fase_do_dia', 'br', 'estado',
       'veiculos'],
      dtype='object')

## Dicionário

- `data_completa` - data de referencia da ocorrencia
- `horario` - horario da ocorrencia 
- `tipo_de_ocorrencia` - se houve ou não vitimas na ocorrencia
- `km` - marco quilometrico de onde ocorreu o fato
- `trecho` - representação da rodovia e estado do trecho
- `tipo_de_acidente` - classificação que indica o tipo de acidente
- `ilesos` - classificação de acidente que indica que não houve lesão ou ferimentos
- `levemente_feridos` - classificação de acidente que indica que não houve lesão ou ferimentos de natureza leve
- `moderadamente_feridos` - classificação de acidente que indica que não houve lesão ou ferimentos de natureza moderada
- `gravemente_feridos` - classificação de acidente que indica que não houve lesão ou ferimentos de natureza grave
- `mortos` - classificação de acidente que indica o número de óbitos da ocorrência
- `concessionaria` - nome da Concessionária que prestou as informações
- `dia_da_semana` - dia da semana em que ocorreu
- `fase_do_dia` - determina o turno em que ocorreu 
- `br` - representação do trecho da rodovia
- `estado` - estado do trecho
- `veiculos` - quantidades de veiculos envolvidos

In [373]:
# novo dataset

dados.to_csv('dados/dados.csv', index=False)